@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #778899;
}

.card-content {
  display: flex;
  background-color: rgb(210, 226, 224);
}

.card {
  width: 40%;
  cursor: pointer;
}

.UserItem-name,
.UserItem-facebook {
  font-family: "Montserrat", sans-serif;
}

.UserItem-leftBox {
  width: 20%;
}

.UserItem-rightBox {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UserItem-image {
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: 100%;
  border-radius: 150%;
  background-size: 100%;
}

.UserItem-name {
  font-size: 1.2em;
  margin: 0;
}

.UserItem-facebook {
  font-size: 1em;
  margin: 0;
}

.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-preLoader {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
